extends layout.pug

block signInForm
	.col-md-12.register
		form.form-inline(name='login' action='/signin', method='post', accept-charset='utf-8')
			h2 Sign in
			br
			.form-group
				label(for='name') Username
				br
				input.form-control(type='text', name='username', placeholder='Your funky username' value='ysa')
			br
			br
			.form-group
				label(for='name') Password
				br
				input.form-control(type='password', name='password', placeholder='Your tricky password' value='test')
			br
			br
			input.btn.btn-lg.btn-success(type='submit')

