body {
	padding-top: 70px;
	padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
	position: static;
	display: block;
	margin-bottom: 20px;
}

.theme-showcase > p > .btn {
	margin: 5px 0;
}

.theme-showcase .navbar .container {
	width: auto;
}

.register {
	border: 1px solid #eee;
	border-radius: 6px;
	text-align: center;
	padding-bottom: 30px;
	background-color: #eee;
}

.jumbotron {
	margin-top: 20px;
}

label {
	font-size: 16px;
}

#welcome-msg {
	color: grey;
}

.center {
	border: 1px solid #eee;
	border-radius: 6px;
	width: 100%;
	height: 300px;
	text-align: center;
	background-color: #eee;
}

.game-img {
	height: 200px;
	width: auto;
}

#answers-btn1 {
	margin-top: 20px;
}

.answers-btn-left {
	display: inline-block;
	margin-bottom: 20px;
	margin-left: 30px;
	width: 200px;
}

.answers-btn-right {
	display: inline-block;
	margin-bottom: 20px;
	margin-left: 30px;
	width: 200px;
}

.btn {
	margin-right: 15px;
}

.hourglass {
	margin-top: 100px;
}

.hourglass p {
	text-align: center;
}

.hourglass img {
	width: 100px;
	height: 100px;
	display: block;
	margin: auto;
}

p {
	font-size: 20px;
}

/* ******* Media Queries ******* */

@media (max-width: @screen-xs-max) { ... }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { ... }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { ... }
@media (min-width: @screen-lg-min) { ... }

/* Small devices (tablets, 768px and up) */
@media (mi n-width: @screen-sm-min) { ... }
/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }
/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }