<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="./img/favicon.ico">

		<title>Theme Template for Bootstrap</title>

		<!-- Bootstrap core CSS -->
		<link href=".css/dist/bootstrap.min.css" rel="stylesheet">
		<!-- Bootstrap theme -->
		<link href="/css/dist/bootstrap-theme.min.css" rel="stylesheet">
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<link href="/css/assets/ie10-viewport-bug-workaround.css" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="/css/theme.css" rel="stylesheet">

		<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
		<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
		<script src="/js/assets/ie-emulation-modes-warning.js"></script>

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>

		<!-- Fixed navbar -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">win fast or lose</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="#">Register</a></li>
						<li><a href="#about">Log in</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>

			<div class="container theme-showcase" role="main">
				<!-- Main jumbotron for a primary marketing message or call to action -->
				<div class="jumbotron">
					<h1>Be the fastest to win</h1>
					<h2>15 seconds, one picture, one question, 4 answers to choose from</h2>
					<h2>One correct answer, only one player can win</h2>
					<p>Only one player can submit an answer : the fastest one</p>
					<p>The fastest player who has correctly answered a question wins the round</p>
					<p>Move on to the next question to get a rematch</p>
					<p>The player who has answered the most questions correctly wins the game</p>
					<p>Sign in to start playing</p>
					<login-buttons></login-buttons>
				</div> <!-- /.jumbotron -->
			</div> <!-- /.container theme-showcase -->
			<!-- <button ng-click="$ctrl.toggleReadyStatus()">Toggle</button> -->

			<div class="container userInfo">
				<a href="/logout">
				<button type="button" class="btn btn-sm btn-danger">Log out</button></a>
			</div>


<!-- 			<div class="col-md-12">
				<form class="form-inline">
					<h3>Login form</h3>
					<div class="form-group">
						<label for="name">Username </label>
						<input type="text" class="form-control" name="username" placeholder="Your username here">
					</div>
					<div class="form-group">
						<label for="name">Password </label>
						<input type="text" class="form-control" name="username" placeholder="Your password here">
					</div>
					<input type="submit" class="btn btn-default">
				</form>
			</div> -->

			<div class="col-md-12">
				<form class="form-inline">
					<h3>Sign-up form</h3>
					<div class="form-group">
						<label for="name">Username </label>
						<input type="text" class="form-control" name="username" placeholder="Be funky">
					</div>
					<div class="form-group">
						<label for="name">Password </label>
						<input type="text" class="form-control" name="username" placeholder="Be tricky">
					</div>
					<div class="form-group">
						<label for="name">Repeat password </label>
						<input type="text" class="form-control" name="username" placeholder="Be tricky one more time">
					</div>
					<input type="submit" class="btn btn-default">
				</form>
			</div>
<!--
		<div class="row">

		<div class="col-md-6">
			<div class="page-header">
				<h1>Players online</h1>
			</div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Username</th>
						<th>Player id</th>
						<th>In game</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="user in $ctrl.users">
						<td >{{ user.username }}</td>
						<td>{{ user._id }}</td>
						<td>{{ user.playing }}</td>
					</tr>
					<tr ng-repeat="question in $ctrl.questions">
						<td >{{ question.text }}</td>
						<td>{{ question.createdAt }}</td>
						<td>{{ question._id }}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="col-md-6">
			<div class="page-header">
				<h1>Top players ranking</h1>
			</div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Username</th>
						<th>Signed up on</th>
						<th>Highest score</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="user in $ctrl.users">
						<td >{{ user.username }}</td>
						<td >{{ user.created_at }}</td>
						<td >{{ user.highestScore }}</td>
					</tr>
				</tbody>
			</table>
		</div>

		</div> -->


		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
		<script src="/js/dist/bootstrap.min.js"></script>
		<script src="/js/assets/docs.min.js"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src="/js/assets/ie10-viewport-bug-workaround.js"></script>
	</body>
</html>
